{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    My Proyectos
  </div>

  <!-- Table -->
  <table class="table">
      <thead>
          <tr>
              <td>Nombre Proyecto</td>
              <td>Rol asignado</td>
              <td>Lider del Proyecto</td>
              <td class="col-md-2">Proyecto Productivo</td>
              <td class="col-md-1 text-right">Acciones</td>
          </tr>
      </thead>

      <tbody>
          {% if misproyectos is not empty %}
              {% for myproyect in misproyectos %}
                  <tr>
                      <td>{{ myproyect.nomProyecto }}</td>
                      <td>{{ myproyect.nombreRol }}</td>
                      <td>{{ myproyect.lider.nombreCompleto }}</td>
                      <td>
                          {% if myproyect.productivoProyecto %}
                              SI
                          {%  else %}
                              NO
                          {%  endif %}
                      </td>
                      <td nowrap="nowrap text-center" class="col-md-4 text-right">
                          <div class="btn-group btn-group-sm" role="group">
                              <button type="button" class="btn btn-sm btn-info"
                                      data-urldetail="{{ app.path('project_detail', {'id': myproyect.idProyecto }, true) }}" role-button="detalle">
                                  ver proyecto
                                  <i class="glyphicon glyphicon-eye-open"></i>
                              </button>
                              <a href="{{ app.path('new_ticket', { 'id' : myproyect.idProyecto }, true) }}"
                                 class="btn btn-info btn-sm col-md-offset-11">Nuevo Ticket</a>

                              <button type="button"
                                      class="btn btn-sm btn-danger"
                                      data-title="Estad&iacute;sticas"
                                      data-id="{{ myproyect.idProyecto }}"
                                      data-target="#project-stats"
                                      data-toggle="modal"  >Reporte
                                  <i class='glyphicon glyphicon glyphicon-stats'></i>
                              </button>
                          </div>
                      </td>
                  </tr>
              {% endfor %}
          {% else %}
              <tr>
                  <td colspan="5" class="alert alert-info text-center">
                      <strong>Ups!</strong>
                      No existen registros
                  </td>
              </tr>
          {% endif %}
      </tbody>
  </table>
</div>
{{ include ('proyectos/estadisticas.html')  }}
{% endblock body %}