{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    My Proyectos
  </div>

  <!-- Table -->
  <table class="table">
      <thead>
          <tr>
              <td>Nombre Proyecto</td>
              <td>Rol asignado</td>
              <td>Lider del Proyecto</td>
              <td class="col-md-2">Proyecto Productivo</td>
              <td class="col-md-1 text-right">Acciones</td>
          </tr>
      </thead>

      <tbody>
          {% if misproyectos is not empty %}
              {% for myproyect in misproyectos %}
                  <tr>
                      <td>{{ myproyect.nomProyecto }}</td>
                      <td>{{ myproyect.nombreRol }}</td>
                      <td>{{ myproyect.lider.nombreCompleto }}</td>
                      <td>
                          {% if myproyect.productivoProyecto %}
                              SI
                          {%  else %}
                              NO
                          {%  endif %}
                      </td>
                      <td nowrap="nowrap text-center" class="col-md-4">
                          <div class="btn-group btn-group-sm right" role="group">

                              {%  if myproyect.idLider == app.user.id %}
                              <div class="btn-group" role="group">
                                  <button type="button"
                                          class="btn btn-sm btn-danger  dropdown-toggle"
                                          data-toggle="dropdown">Edici&oacute;n
                                      <i class='glyphicon glyphicon-cog'></i>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li><a class='glyphicon glyphicon-file' href="/proyectos/editar/{{ myproyect.idProyecto  }}"> Datos B&aacute;sicos</a></li>
                                      <li><a class='glyphicon glyphicon-user' href="/proyectos/equipos/{{ myproyect.idProyecto }}"> Equipos</a></li>
                                      <li><a class='glyphicon glyphicon-text-width' href="/proyectos/tipo-item/{{ myproyect.idProyecto }}"> Tipos de Item </a></li>
                                  </ul>
                              </div>
                              {%   endif %}
                              <div class="btn-group" role="group">
                                  <button type="button"
                                          class="btn btn-sm btn-danger  dropdown-toggle"
                                          data-toggle="dropdown">Detalles
                                      <i class='glyphicon glyphicon-eye-open'></i>
                                  </button>
                                  <ul class="dropdown-menu">
                                      <li><a type="button" class='glyphicon glyphicon-eye-open' href="/proyectos/detalle/{{ myproyect.idProyecto }}"> Ver Proyecto</a></li>
                                      <li><a class='glyphicon glyphicon glyphicon-stats' href="#" data-id="{{ myproyect.idProyecto }}"
                                             data-target="#project-stats"
                                             data-toggle="modal"> Estad&iacute;sticas</a></li>
                                  </ul>
                              </div>
                              <a href="{{ app.path('new_ticket', { 'id' : myproyect.idProyecto }, true) }}" class="btn btn-info btn-sm  col-md-offset-11">
                                  <i class='glyphicon glyphicon-plus'></i>Nuevo Ticket
                              </a>
                          </div>
                      </td>
                  </tr>
              {% endfor %}
          {% else %}
              <tr>
                  <td colspan="5" class="alert alert-info text-center">
                      <strong>Ups!</strong>
                      No existen registros
                  </td>
              </tr>
          {% endif %}
      </tbody>
  </table>
</div>
{{ include ('proyectos/estadisticas.html')  }}
{% endblock body %}