{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    ABM Equipos
    <a class="btn btn-primary right" href="{{ app.path('new_equipo') }}" role="button">Nuevo</a>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td class="">Nombre Equipo</td>
      <td class="">Usuarios Asignados</td>
      <td class="">Proyecto Asignado</td>
      <td class="col-md-2">Acciones</td>
    </tr>
    {% if equipos is not empty %}
      {% for equipo  in equipos %}
      {% set isErasable = equipo.usuarioRolEquipo.count() == 0 %}
      <tr>
        <td nowrap="nowrap">{{ equipo.nombreEquipo}}</td>
        <td nowrap="nowrap">{{ equipo.nombreCompleto}}</td>
        <td nowrap="nowrap">{{ equipo.Proyecto.nomProyecto}}</td>        
        <td nowrap="nowrap">
          <div class="btn-group btn-group-sm right" role="group">
            <button type="button" class="btn btn-sm btn-info">Detalles</button>
            <button type="button" class="btn btn-sm btn-info" 
            data-urledit="{{ app.path('edit_equipo', {'id': equipo.idEquipo }, true) }}" role-button="editar">Editar</button>
            <button type="button" class="btn btn-sm btn-danger" data-urldelete="{{ app.path('delete_equipo', {'id': equipo.idEquipo }, true) }}"
            data-title="Eliminar Equipo" data-message="¿Seguro hermano? Ud. va a eliminar el EQUIPO  '{{equipo.nombreEquipo}}'"
            {%  if isErasable == false  %}
                  disabled
            {%  endif  %}
                  role-button="eliminar">
            Eliminar <i class='glyphicon glyphicon-trash'></i></button>
          </div>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="3" class="alert alert-info text-center">
          <strong>Ups!</strong>
          No existen registros
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>      
    </tr>
  </table>
</div>

{% endblock body %}