{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    My Tickets
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td>Ticket</td>
      <td>Estado</td>
      <td>Descripcion</td>
      <td>Descripcion Item</td>
      <td>Prioridad</td>
      <td>Fecha de Creacion</td>
    </tr>
    {% if mistickets is not empty %}
      {% for tickets in mistickets %}
        <tr>
          <td>{{ tickets.tituloItem }}</td>
          <td>{{ tickets.nombreEstado }}</td>
          <td>{{ tickets.descItem }}</td>
          <td>{{ tickets.descripcion }}</td>
          <td>{{ tickets.prioridad }}</td>
          <td>{{ tickets.fechacreacion }}</td>          
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="6" class="alert alert-info text-center">
          <strong>Ups!</strong>
          No existen registros
        </td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="6"></td>
    </tr>
  </table>
</div>

{% endblock body %}