{% extends 'common/forms.html.twig' %}

{% block custom_javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
     $('.fileinput').on('change.bs.fileinput', function(response){
        var data = {
            id      : {{ usuario.idUsuario }},
            path    : $('.fileinput-preview img').attr('src')
        };
        $.ajax({
            method  : 'post',
            async   : true,
            url     : '{{ app.path('selfie_edit')}}',
            data    : JSON.stringify(data),
            dataType: 'json',
            success: function (response){ 
                
            }
        }) 
     })
    });
  </script>

{% endblock custom_javascript %}

{% block form_title %}
  {{ title }}
{% endblock form_title %}

{% block form %}
    <form id="usuario_form" name="usuario_form" method="POST" novalidate="novalidate" action="{{ app.path('save_user') }}">
        <input type="hidden" name="id" id="id" value="{{ usuario.idUsuario }}" />
        <div class="form-group">
            <label for="nombreCompleto">Nombre y Apellido</label>
            <input name="nombreCompleto" type="text" id="nombreCompleto" placeholder="Nombre y Apellido"
                   class="form-control" required value="{{ usuario.nombreCompleto }}" />
        </div>

        <div class="form-group">
            <label for="tipoDocumento">Tipo de Documento</label>
            <select name="tipoDocumento" id="tipoDocumento" class="form-control">
                <option value="">Ninguno</option>
                {% for idTipoDocumento, tipoDocumento in tiposDocumento  %}
                    <option value="{{ idTipoDocumento }}"
                        {% if usuario.idTipoDocumento == idTipoDocumento %}
                        selected
                        {% endif %}
                        >
                        {{ tipoDocumento }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="numDocumento">Nro. de Documento</label>
            <input name="numDocumento" type="text" id="numDocumento"  placeholder="Numero de Documento"
                   class="form-control" required value="{{ usuario.numDocumento }}" />
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input name="email" type="text" id="email" placeholder="Email"  class="form-control"
                   required value="{{ usuario.email }}" />
        </div>

        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input name="usuario" type="text" id="usuario" placeholder="Usuario" class="form-control"
                   required value="{{ usuario.usuario }}"  />
        </div>

        {% if not usuario %}
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Password" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirmar Password</label>
                <input name="confirm_password" type="password" id="confirm_password" placeholder="Password" class="form-control" required/>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="rolPrincipal">Rol Asignado</label>
            <select name="rolPrincipal" id="rolPrincipal" class="form-control" required>
                <option value="">- Seleccione Uno -</option>
                {% for rol in roles  %}
                    <option value="{{ rol.idRol }}"
                        {% if usuario.idRolPrincipal == rol.idRol %}
                            selected
                        {% endif %}
                    >{{ rol.nombreRol }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
            <img src="{{ usuario.selfie }}" />
          </div>
          <div>
            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>

        <div class="btn-group right" role="group" aria-label="formActions">
            <button type="button" class="btn btn-danger" rol="backButton">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
{% endblock form %}