{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default" id="team-edition">
    <div class="panel-heading">
        Edici&oacute;n de Tipos de Item
    </div>
    <div class="panel">
        <div class="panel-body">
            <table class="table"
                   data-toggle="table"
                   data-card-view="true">
                <thead>
                <tr>
                    <th>Nombre del Proyecto</th>
                    <th>Lider</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ proyecto.nomProyecto }}</td>
                    <td>{{ proyecto.lider.nombreCompleto}}</td>
                    <td>{{ proyecto.inicioProyecto }}</td>
                    <td>{{ proyecto.finProyecto }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" name="idProyecto" id="idProyecto" class="basic-data" value="{{proyecto.idProyecto}}" required/>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" >
                {% if tiposItem is not empty %}
                    <ul class="list-group">
                        <li  class="list-group-item active" > Tipo Item
                           {# <span class="badge">Estados</span>#}
                        </li>
                        {% for tipoItem in tiposItem %}
                            <li  class="list-group-item">
                                <a href="#" class="btn-sm"  title="Cambiar Nombre">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                {{ tipoItem.descripcion }}
                                <a href="#" class=" badge btn-sm"  title="Cambiar Workflow">
                                        <i class="glyphicon glyphicon-random"></i>
                                </a>
                                <a href="#" class=" badge btn-sm"  title="Ver Estados">
                                    <i class="glyphicon glyphicon-tasks"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-sm-6" >
                {% if tiposItem is not empty %}
                    {% for tipoItem in tiposItem %}
                        <div class=" estados list-group {{ tipoItem.idTipoItem }}" hidden >
                            <a  class="list-group-item active panel-info">
                                 Posibles estados para {{ tipoItem.descripcion  }}
                            </a>
                            {% if tipoItem.estados is not empty %}
                                {% for estado in tipoItem.estados %}
                                    <a  class="list-group-item">
                                        {#<span class="badge">{{ tipoItem.estados | length }}</span>#}
                                        {{ estado.nombreEstado }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                <a  class="list-group-item">
                                    No se han registrado estados
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <!--
    <div class="modal fade" id="edit-team-name" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">Editar Nombre de Equipo</span>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreEquipo"> Nuevo Nombre</label>
                        <input name="nombre"  id="nombre" type="text" class="form-control add-team" placeholder="Nombre de Equipo ..."  />
                        <input type="hidden" name="idEquipo" id="idEquipo" />
                        <input type="hidden" name="nombreOriginal" id="nombreOriginal" />
                        <div class="error-msg alert-danger" role="alert" hidden>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Enter a valid email address
                        </div>
                    </div>
                </div>
                <div class="modal-footer" role="group" aria-label="formActions">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="edit-team-lider" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">Editar Nombre de Equipo</span>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreEquipo"> Nuevo Nombre</label>
                        <input name="nombre"  id="nombre" type="text" class="form-control add-team" placeholder="Nombre de Equipo ..."  />
                        <input type="hidden" name="idEquipo" id="idEquipo" />
                        <input type="hidden" name="nombreOriginal" id="nombreOriginal" />
                        <div class="error-msg alert-danger" role="alert" hidden>
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Enter a valid email address
                        </div>
                    </div>
                </div>
                <div class="modal-footer" role="group" aria-label="formActions">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>

        </div>
    </div> -->


</div>
{% endblock body %}