{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default" id="item-type-edition">
    <div class="panel-heading">
        Edici&oacute;n de Tipos de Item
    </div>
    <div class="panel">
        <div class="panel-body">
            <table class="table"
                   data-toggle="table"
                   data-card-view="true">
                <thead>
                <tr>
                    <th>Nombre del Proyecto</th>
                    <th>Lider</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ proyecto.nomProyecto }}</td>
                    <td>{{ proyecto.lider.nombreCompleto}}</td>
                    <td>{{ proyecto.inicioProyecto }}</td>
                    <td>{{ proyecto.finProyecto }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" name="idProyecto" id="idProyecto" class="basic-data" value="{{proyecto.idProyecto}}" />
    <div id="edit-item-type-wz">
        <ul class="nav nav-tabs nav-justified">
            <li class="list"><a href="#tab1" data-toggle="tab">Tipos de Item</a></li>
            <li><a href="#tab2" data-toggle="tab">Estados</a></li>
            <li><a href="#tab3" data-toggle="tab">Workflow</a></li>
        </ul>
        <div class="clearfix span6"> </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                {% if tiposItem is not empty %}
                    <ul class="list-group">
                        <li  class="list-group-item active" > Tipo Item
                            {# <span class="badge">Estados</span>#}
                        </li>
                        {% for tipoItem in tiposItem %}
                            <li  class="list-group-item">
                                <a href="#" class="btn-sm"  title="Cambiar Nombre">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                {{ tipoItem.descripcion }}
                                <a href="#" class="badge btn-sm wf-ed" data-name="{{ tipoItem.descripcion }}"
                                   data-id="{{ tipoItem.idTipoItem }}" title="Cambiar Workflow">
                                    <i class="glyphicon glyphicon-random"></i>
                                </a>
                                <a href="#" class=" badge btn-sm st-ed"  data-name="{{ tipoItem.descripcion }}"
                                   data-id="{{ tipoItem.idTipoItem }}" title="Ver Estados">
                                    <i class="glyphicon glyphicon-tasks"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="tab-pane" id="tab2">
                <nav>
                    <ul class="pager">
                        <li class="previous button-previous"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-hand-left"></span> Tipos Item</a></li>
                        <li class="previous "><a href="#">Guardar <span aria-hidden="true" class="glyphicon glyphicon-floppy-saved"></span></a></li>
                    </ul>
                </nav>
                <div class="row">
                    <h4 class="col-md-2 col-md-offset-5 title" >
                        SARASASA
                    </h4>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <table id="states-table"></table>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tab3">
                <nav>
                    <ul class="pager">
                        <li class="previous button-previous"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-hand-left"></span> Tipos Item</a></li>
                        <li class="previous button-save-workflow"><a href="#">Guardar <span aria-hidden="true" class="glyphicon glyphicon-floppy-saved"></span></a></li>
                    </ul>
                </nav>
                <div class="row">
                    <h4 class="col-md-2 col-md-offset-5 title" >
                        SARASASA
                    </h4>
                </div>
                <div class="workflow" id="canvas" >
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock body %}