{% extends 'common/forms.html.twig' %}


{% block form_title %}
    Edici&oacute;n de Tipos de Item
{% endblock form_title %}

{% block form %}
<div  id="item-type-edition">
    <div class="panel-heading">
        Proyecto : {{ proyecto.nomProyecto }}
    </div>
    <input type="hidden" name="idProyecto" id="idProyecto" class="basic-data" value="{{proyecto.idProyecto}}" />
    <div id="edit-item-type-wz">
        <ul class="nav nav-tabs nav-justified">
            <li class="list"><a href="#tab1" data-toggle="tab">Tipos de Item</a></li>
            <li class="hidden"><a href="#tab2" data-toggle="tab">Estados</a></li>
            <li class="hidden"><a href="#tab3" data-toggle="tab">Workflow</a></li>
        </ul>
        <div class="clearfix span6"> </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                {% if tiposItem is not empty %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo de Item</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for tipoItem in tiposItem %}
                            <tr>
                                <td>
                                    <a href="#" class="btn-sm"  title="Cambiar Nombre">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    {{ tipoItem.descripcion }}
                                    <span class="badge">{{ tipoItem.tickets | length }}</span>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-sm btn-danger wf-ed" data-name="{{ tipoItem.descripcion }}" data-id="{{ tipoItem.idTipoItem }}"
                                                title="Cambiar Workflow">
                                            Workflow <i class="glyphicon glyphicon-random"></i>
                                        </button>
                                        <button type="button"  class="btn btn-sm btn-danger st-ed"  data-name="{{ tipoItem.descripcion }}"
                                           data-id="{{ tipoItem.idTipoItem }}" title="Ver Estados">
                                            Estados <i class="glyphicon glyphicon-tasks"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger"
                                                data-id="{{ tipoItem.idTipoItem }}" data-message="¿Seguro de eliminar el tipo de Item :{{tipoItem.descripcion}} ?"
                                                data-deleteurl="/tipoitems/borrar/{{ tipoItem.idTipoItem }}"
                                                {% if tipoItem.tickets | length >0 %}
                                                    disabled
                                                {% endif %}
                                                role-button="eliminar">Eliminar
                                            <i class='glyphicon glyphicon-trash'></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
                <form id="new-item-type" name="new-item-type" novalidate="novalidate" method="POST" autocomplete="off" action="/tipoitems/nuevo">
                    <div class="row">
                        <div class="col-lg-8 input-group">
                            <input name="nombreTipoItem"  id="nombreTipoItem" type="text" class="form-control add-team" placeholder="Nuevo Tipo de Item ..."  />
                            <span class="input-group-btn" style="vertical-align: top">
                                <button class="btn btn-primary" type="submit" id="addItemType">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar
                                </button>
                            </span>
                        </div>
                        <input type="hidden" name="idProyecto" value="{{ proyecto.idProyecto }}"/>
                     </div>
                </form>

            </div>
            <div class="tab-pane" id="tab2">
                <nav>
                    <ul class="pager">
                        <li class="previous button-previous"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-hand-left"></span> Tipos Item</a></li>
                    </ul>
                </nav>
                <div class="row">
                    <h4 class="col-md-8 col-md-offset-5 title" >
                        SARASASA
                    </h4>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <table id="states-table"></table>

                            <div class="input-group" id="new-state-type">
                                    <input name="nombreEstado"  id="nombreEstado" type="text" class="form-control add-team" placeholder="Nuevo Estado ..."  />
                            <span class="input-group-btn" style="vertical-align: top">
                                <button class="btn btn-primary" type="button" id="addNewState">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar
                                </button>
                            </span>
                                </div>
                                <input type="hidden" name="idTipoItem" />
                        </div>
                    <div class="col-lg-6">
                        {% if equipos is not empty %}
                            <input type="hidden" id="idState" value=""/>
                            <table id="states-team-table"
                                       class="table"
                                       data-toggle="table"
                                       hidden>
                                <thead>
                                    <tr>
                                        <th>Equipos De Atenci&oacute;n</th>
                                    <tr>
                                </thead>
                                <tbody>
                                {% for equipo in equipos %}
                                    <tr>
                                        <td>{{ equipo.nombreEquipo }}
                                            <div class="pull-right">
                                                <input type="checkbox" name="equipo-estado" class="state-team" value="{{ equipo.idEquipo }}" />
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                 <tr>
                                     <td>
                                         <div class="pull-right">
                                             <button type="button" id="assign-teams" class="btn btn-sm btn-danger" title="Guardar Cambios">
                                                 Guardar <i class="glyphicon glyphicon-floppy-saved"></i>
                                             </button>
                                         </div>
                                     </td>
                                 </tr>
                                </tfoot>
                            </table>
                        {% else %}
                        No se encuentran equipos registrados

                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tab3">
                <nav>
                    <ul class="pager">
                        <li class="previous button-previous"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-hand-left"></span> Tipos Item</a></li>
                    </ul>
                </nav>
                <div class="row">
                    <h4 class="col-md-8 col-md-offset-5 title" >
                        SARASASA
                    </h4>
                </div>
                <div class="workflow" id="canvas" >
                </div>
                <nav>
                    <ul class="pager">
                        <li class="button-save-workflow"><a href="#">Guardar <span aria-hidden="true" class="glyphicon glyphicon-floppy-saved"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-item-estado" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Estado</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idEstado" id="idEstado" />
                    <p id="mensaje"> </p>
                </div>
                <div class="modal-footer" role="group" aria-label="formActions">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>

        </div>
    </div>

</div>



{% endblock form %}