{% extends 'common/base.html.twig' %}

{% block body %}

    <div class="panel panel-default" id="team-edition">
        <div class="panel-heading">
            Edici&oacute;n de Equipos

        </div>
        <div class="panel">
            <div class="panel-body">
                <table class="table"
                       data-toggle="table"
                       data-card-view="true">
                    <thead>
                        <tr>
                            <th>Nombre del Proyecto</th>
                            <th>Lider</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ proyecto.nomProyecto }}</td>
                            <td>{{ proyecto.lider.nombreCompleto}}</td>
                            <td>{{ proyecto.inicioProyecto }}</td>
                            <td>{{ proyecto.finProyecto }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <input type="hidden" name="idProyecto" id="idProyecto" class="basic-data" value="{{proyecto.idProyecto}}" required/>
        {{ include ('proyectos/steps/equipos.html')  }}
        <div class="modal fade" id="edit-team-name" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title">Editar Nombre de Equipo</span>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombreEquipo"> Nuevo Nombre</label>
                            <input name="nombre"  id="nombre" type="text" class="form-control add-team" placeholder="Nombre de Equipo ..."  />
                            <input type="hidden" name="idEquipo" id="idEquipo" />
                            <input type="hidden" name="nombreOriginal" id="nombreOriginal" />
                            <div class="error-msg alert-danger" role="alert" hidden>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Enter a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" role="group" aria-label="formActions">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="edit-team-lider" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title">Editar Nombre de Equipo</span>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombreEquipo"> Nuevo Nombre</label>
                            <input name="nombre"  id="nombre" type="text" class="form-control add-team" placeholder="Nombre de Equipo ..."  />
                            <input type="hidden" name="idEquipo" id="idEquipo" />
                            <input type="hidden" name="nombreOriginal" id="nombreOriginal" />
                            <div class="error-msg alert-danger" role="alert" hidden>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Enter a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" role="group" aria-label="formActions">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="edit-team-members" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title">Editar Integrantes de Equipo</span>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="idEquipoIntegrantes" id="idEquipoIntegrantes" />
                        <table id="user-List"
                               data-search="true"
                               data-pagination="true"
                               data-toggle="table"
                               data-click-to-select="true"
                               data-select-item-name="myRadioName">
                            <thead>
                                <tr>
                                    <th data-sortable="true">Nombre de Usuarios</th>
                                    <th data-sortable="true">Rol Principal</th>
                                    <th data-searchable="false" >Rol En El Equipo</th>
                                    <th data-searchable="false" ></th>
                                <tr>
                            </thead>
                            <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>
                                        {{ usuario.nombreCompleto }}
                                    </td>
                                    <td>{{ usuario.rolPrincipal.nombreRol }}</td>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <select class="form-control" id="rol-{{ usuario.idUsuario}}" aria-describedby="sizing-addon3">
                                                {% for rol in roles  %}
                                                    <option value="{{ rol.idRol }}" >{{ rol.nombreRol }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <input type="checkbox" name="usuario-equipo" class="user-team" value="{{ usuario.idUsuario }}" />
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer" role="group" aria-label="formActions">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}