{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default table-responsive" id="project-list">
  <div class="panel-heading">
    ABM Proyectos
    <a class="btn btn-primary right" href="{{ app.path('new_project') }}" role="button">Nuevo</a>
  </div>

  <!-- Table -->

  <table class="table table-hover"
         data-toggle="table"
         data-search="true"
         data-pagination="true">
    <thead>
      <tr>
        <th data-sortable="true">Nombre Proyecto</th>
        <th data-sortable="true">Lider del Proyecto</th>
        <th class="col-md-1" data-sortable="true">Proyectos Productivos</th>
        <th class="col-md-3" data-searchable="false">Acciones</th>
      </tr>
    </thead>
    <tbody>

      {% for proyecto in proyectos %}
        <tr data-index="{{ index }}">
          <td>{{ proyecto.nomProyecto }} <span class="badge">{{ proyecto.items | length }}</span></td>
          <td>{{ proyecto.lider.nombreCompleto }}</td>
          <td >{% if proyecto.productivoProyecto %}
              SI
              {%  else %}
               NO
              {%  endif %}
          </td>
          <td>
              <div class="btn-group btn-group-sm right" role="group">
                  <button type="button"
                      class="btn btn-sm btn-info  dropdown-toggle"
                      data-toggle="dropdown">Edici&oacute;n
                        <i class='glyphicon glyphicon-cog'></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="/proyectos/editar/{{ proyecto.idProyecto }}">Datos B&aacute;sicos</a></li>
                    <li><a href="/proyectos/equipos/{{ proyecto.idProyecto }}"> Equipos</a></li>
                    <li><a href="/proyectos/tipo-item/{{ proyecto.idProyecto }}">Tipos de Item </a></li>
                  </ul>

                  <button type="button"
                          class="btn btn-sm btn-danger"
                          {% if proyecto.items is not empty  %}
                              disabled
                          {% endif %}
                          data-title="Eliminar Usuario"
                          data-message="¿Seguro que eliminar el proyecto : {{ proyecto.nomProyecto }}?"
                          data-id="{{ proyecto.idProyecto}}"
                          data-target="#delete-proyecto"
                          data-toggle="modal"  >Eliminar
                    <i class='glyphicon glyphicon-trash'></i>
                  </button>
              </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div class="modal fade" id="delete-proyecto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Proyecto</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idProyecto" id="idProyecto" />
                    <p id="mensaje"> </p>
                </div>
                <div class="modal-footer" role="group" aria-label="formActions">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>

        </div>
    </div>
    {{ include ('proyectos/estadisticas.html')  }}
</div>


{% endblock body %}