{% extends 'common/base.html.twig' %}

{% block custom_javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#detailTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

            $('#estado').relation({
                relation  : 'estados',
                key       : 'id',
                value     : 'nombre',
                data      : {{ relaciones.tipo_items | json_encode(constant('JSON_PRETTY_PRINT')) | raw }}
            });

            $('#asignado').relation({
                key       : 'idUsuario',
                value     : 'nombreCompleto',
                url       : '{{ app.path('users_allows_ticket') }}'
            });
        });
  </script>
{% endblock  %}

{% block body %}

<div class="details-panel">
  <div class="row">
    <div class="col-md-10">
      <h1>#{{ ticket.idItem }} - {{ ticket.tituloItem }}</h1>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <form id="edit_ticket" name="edit_ticket" method="post" action="">
        <input name="id" id="id" value="{{ ticket.idItem }}" type="hidden" />
        <div class="row">
          <div class="col-md-3">
            <div class="form-group autoinline">
              <strong class="col-md-5">Tipo</strong>
              {{ ticket.tipoItem.descripcion }}
            </div>
          </div>

          <div class="col-md-2">
              <div class="form-group autoinline">
              <strong class="col-md-5">Estado</strong>
              <select id="estado" name="estado" data-reference="tipoitem" class="form-control input-sm">
                {% for estado in workflow %}
                  <option value="{{ estado.id }}"
                    {% if estado.id == ticket.estadoActual %}
                      selected
                    {% endif %}
                >{{ estado.nombre }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-4">
              <div class="form-group autoinline">
                  <strong class="col-md-5">Asignado a</strong>
                  <select id="asignado" name="asignado" data-reference="estado" class="form-control input-sm">
                      {% for usuario in equipo %}
                          {% set selected = ''  %}
                          <option value="{{ usuario.idUsuario }}"
                              {% if usuario.idUsuario == ticket.asignado.idUsuario %}
                                  selected
                              {% endif %}
                          >{{ usuario.nombreCompleto }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>

          <div class="col-md-3">
            <strong>Fecha</strong>
            {{ ticket.fechacreacion | date("d/m/Y") }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group autoinline">
              <strong class="col-md-5">Prioridad</strong>
              <select id="prioridad" name="prioridad" class="form-control input-sm">
                {% for id, nombre in app.get('priority') %}
                  <option value="{{ nombre }}"
                   {% if nombre == ticket.prioridad %}
                     selected
                   {% endif %}
                  >{{ nombre }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-3">

          </div>

          <div class="col-md-3">

          </div>

          <div class="col-md-3">
            <strong>Proyecto</strong>
            <a href="{{ app.path('project_detail', {'id': ticket.proyecto.idProyecto }, true) }}">
              {{ ticket.proyecto.nomProyecto }}
            </a>
          </div>
        </div>

        <div class="row">
          <hr />
          <div class="col-md-1">
            <h5>Descripción:</h5>
          </div>

          <div class="col-md-11">
            {{ ticket.descItem }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="detailTabs">
              <li role="presentation" class="active">
                <a href="#comments">Comentarios</a>
              </li>
              <li role="presentation">
                <a href="#history">Historial</a>
              </li>
            </ul>
          </div>

          <div class="col-md-12">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="comments">
                <div class="col-md-12 details-panel">
                  {% include 'tickets/comments.html.twig' with { 'comments': ticket.comentarios } %}
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="history">
                <div class="col-md-12 details-panel">
                  {% include 'tickets/history.html.twig' with { 'transiciones': ticket.transiciones } %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}