{% extends 'common/forms.html.twig' %}

{% block form_title %}
  {{ title }}
{% endblock form_title %}

{% set passwordRequired = (1 == app.user.profile and usuario is not defined) %}

{% block form %}
    <form id="usuario_form" name="usuario_form" method="POST" novalidate="novalidate" action="{{ app.path('save_user', {'from':'user'}) }}">
        <input type="hidden" name="id" id="id" value="{{ usuario.idUsuario }}" />
        <div class="form-group">
            <label for="nombreCompleto">Nombre y Apellido</label>
            <input name="nombreCompleto" type="text" id="nombreCompleto" placeholder="Nombre y Apellido"
                   class="form-control" required value="{{ usuario.nombreCompleto }}" />
        </div>

        <div class="form-group">
            <label for="tipoDocumento">Tipo de Documento</label>
            <select name="tipoDocumento" id="tipoDocumento" class="form-control">
                <option value="">Ninguno</option>
                {% for idTipoDocumento, tipoDocumento in tiposDocumento  %}
                    <option value="{{ idTipoDocumento }}"
                        {% if usuario.idTipoDocumento == idTipoDocumento %}
                        selected
                        {% endif %}
                        >
                        {{ tipoDocumento }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="numDocumento">Nro. de Documento</label>
            <input name="numDocumento" type="text" id="numDocumento"  placeholder="Numero de Documento"
                   class="form-control" required value="{{ usuario.numDocumento }}" />
        </div>

        <div class="form-group">
            <label for="email">email</label>
            <input name="email" type="text" id="email" placeholder="Email"  class="form-control"
                   required value="{{ usuario.email }}" />
        </div>

        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input name="usuario" type="text" id="usuario" placeholder="Usuario" class="form-control"
                   required value="{{ usuario.usuario }}"  />
        </div>

         {% if app.user.profile == 1 %}
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Password" class="form-control" minlength="5"
                {% if true == passwordRequired %}
                required
                {% endif %}
                />
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirmar Password</label>
                <input name="confirm_password" type="password" id="confirm_password" placeholder="Password" class="form-control" minlength="5"
                 {% if true == passwordRequired %}
                 required
                 {% endif %}
                />
            </div>
        {% endif %}

        <div class="form-group">
            <label for="rolPrincipal">Rol Asignado</label>
            <select name="rolPrincipal" id="rolPrincipal" class="form-control" required>
                <option value="">- Seleccione Uno -</option>
                {% for rol in roles  %}
                    <option value="{{ rol.idRol }}"
                        {% if usuario.idRolPrincipal == rol.idRol %}
                            selected
                        {% endif %}
                    >{{ rol.nombreRol }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="profile">Perfil de Usuario</label>
            <select name="profile" id="profile" class="form-control" required>
                <option value="">- Seleccione Uno -</option>
                {% for id, profile in profiles %}
                    <option value="{{ id }}"
                        {% if usuario.profile == id %}
                            selected
                        {% endif %}
                    >{{ profile }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="profile">Estado</label>
            <select name="estado" id="estado" class="form-control" required>
                <option value="1"
                    {% if 1 == usuario.estado or true == usuario is not defined %}
                        selected
                    {% endif %}
                >Activo</option>
                <option value="0"
                    {% if 0 == usuario.estado and true == usuario is defined %}
                        selected
                    {% endif %}
                >Inactivo</option>
            </select>
        </div>

        <div class="btn-group right" role="group" aria-label="formActions">
            <button type="button" class="btn btn-danger" rol="backButton">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
{% endblock form %}