{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    ABM TipoItems
    <a class="btn btn-primary right" href="{{ app.path('new_tipoitem') }}" role="button">Nuevo</a>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td class="col-md-6 text-center">Nombre Tipo Item</td>
      <td class="col-md-2 text-center">Estado</td>
      <td class="col-md-2 text-center">Acciones</td>
    </tr>
    {% if tipoitems is not empty %}
      {% for tipoitem  in tipoitems %}
      <tr>
        <td  nowrap="nowrap">{{ tipoitem.descripcion}}</td>
        <td class="text-center" nowrap="nowrap">{{ tipoitem.nombreEstado}}</td>
        <td class="text-right" nowrap="nowrap">
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-sm btn-info">Detalles</button>
            <button type="button" class="btn btn-sm btn-info" 
              data-urledit="{{ app.path('edit_tipoitem', {'id': tipoitem.idTipoItem }, true) }}" role-button="editar">Editar</button>
            <button type="button" class="btn btn-sm btn-danger" role-button="eliminar"
              data-title="Eliminar Usuario" data-message="¿Seguro hermano?"
              data-urldelete="{{ app.path('delete_tipoitem', {'id': tipoitem.idTipoItem }, true) }}">
              Eliminar <i class='glyphicon glyphicon-trash'></i></button>
          </div> 
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="3" class="alert alert-info text-center">
          <strong>Ups!</strong>
          No existen registros
        </td>
      </tr>
    {% endif %}

  </table>
</div>

{% endblock body %}